.profile__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin-top: 10px;
}

@media (max-width: 620px) {
    .profile__subtitle {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        margin-top: 7px;
    }
}